.label {
  -fx-border-color: #cfcfcf;
  -fx-border-width: 2px;
  -fx-font: 11px "JetBrains Mono";
  -fx-text-fill: #ffffff;
  -fx-background-color: rgba(0, 0, 0, 0.5);
}

.reply-label {
  -fx-font: 11px "JetBrains Mono";
  -fx-text-fill: #ffffff;
}
