.label {
  -fx-border-color: #cfcfcf;
  -fx-border-width: 2px;
  -fx-font: bold 10px "JetBrains Mono";
  -fx-text-fill: #ffffff;
  -fx-background-color: rgba(0, 0, 0, 0.5);
}

#displayPicture {
  -fx-border-color: #cfcfcf;
  -fx-border-width: 2px;
}